.container {
    padding: 20px;
    border: 1px solid #808080;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.commentContainer:not(:last-child) {
margin-bottom: 10px;
}

.commentUserName {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.commentSubComment {
    margin-left: 30px;
}

.commentBottom {
    display: flex;
    justify-content: space-between;
}

.commentText {
    font-size: 14px;
    margin-bottom: 5px;
}

.commentTime {
    font-size: 12px;
    color: #8f8f8f;
}

.commentButton {
    background: none;
    border: none;
    color: blue;
}

.commentButton:hover {
    color: rgb(56, 52, 46);
}